img {
    width: 30%;
    margin: 1.66%;
    float: left;
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #a5b8cd;
    width: 30%;
    padding-bottom: 3px;

}
